$def with (name)

<script>
    $$(document).ready(function() {
        $$('#example').dataTable( {
            "ajax" : {
                "url" : "../data/data_json.txt",
                "dataSrc": ""
            },
            "columns": [
                { "data": "SOURCENAME" },
                { "data": "SOURCEDISPLAYNAME" },
                { "data": "TARGETNAME" },
                { "data": "TARGETDISPLAYNAME" },
            ]
        } );
    } );
</script>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Salary</th>
            </tr>
        </thead>
</table>