$var title: 新增主机
$var header: 新增主机
$var jqueryfiles: ystep.js addhost.js
$var cssfiles: ystep.css


<div class="row">

    <div id="myTabContent" class="tab-content">
        <!--页面导航滚动工具栏-->
        <div id = "ystep" class="ystep col-md-12" style="margin-top:2%;text-align:center;"></div>
        <!-- 填写主机信息,step1 -->
        <div class="tab-pane fade  in active  col-md-10 col-md-offset-1 "  
            style="margin-top:0%;position:relative;" id="step1">
            <div class="input-group  col-md-12"  style="margin-top:0%;height:45%;position:relative;">
                <h3>步骤一:主机信息</h3>
            </div>
            <div class="col-md-12" style="margin-top:30px;">
                <div class="col-md-2 col-md-offset-1">
                <span  style="float:left;font-size:18px"  >主机名</span>
                </div>
                <div class="col-md-7" >
                <input type="text" class="form-control" placeholder="例如：config1" 
                    id="step1_host_name">
                </div>
            </div>
            <div style="margin-top:20px;" class="col-md-12" >
                <div class="col-md-2 col-md-offset-1">
                <span  style="float:left;font-size:18px" >操作系统版本</span>
                </div>
                <div class="col-md-7">
                <select class="form-control input-md" id="os">
                    <option>--请选择OS版本--</option>
                    <option>RedHat Linux 5.5</option>
                    <option>RedHat Linux 6.3</option>
                    <option>Windows XP</option>
                </select>
                </div>
            </div>
            <div style="margin-top:20px;" class="col-md-12" >
                <div class="col-md-2 col-md-offset-1">
                <span  style="float:left;font-size:18px" >内核版本</span>
                </div>
                <div class="col-md-7">
                <input type="text" class="form-control" placeholder="例如：2.6.31" 
                    id="step1_host_name">
                </div>
            </div>
            <div style="margin-top:20px;" class="col-md-12" >
                <div class="col-md-2 col-md-offset-1">
                <span  style="float:left;font-size:18px" >主机描述</span>
                </div>
                <div class="col-md-7">
                <textarea id="step1_description" class="form-control" 
                    rows="4" style="margin-top:0;margin-left:0%"></textarea>
                </div>
                <br>
            </div>
            <div style="margin-top:50px;" class="col-md-12" >
                <div class="col-md-1 col-md-offset-4">
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <button href="#step2" id="buttonswitch"  class="btn btn-info" 
                        onclick="gotostep2()"> 下一步 </button> 
                </div>
            </div>
        </div>
        
        <!-- 填写用户配置,step2 -->
        <div class="tab-pane fade col-md-12 "
              style="margin-top:0%;position:relative;" id="step2">
            <div class="col-md-12 " style="margin-top:0%;position:relative;">
                <h3>步骤二: 用户配置</h3>
            </div>

            <div class="panel-heading" style="margin-top:40px;">
                <input type="button" value="点击添加用户" onclick="show_detail('adduser')" 
                    class="btn btn-default" style="float:right">
            </div>
            <div style="margin-top:40px;">
                <table id="baselineuserlist" class="table table-bordered" cellspacing="0" width="100%" >
                    <thead >
                        <tr class="active">
                            <th> </th>
                            <th width="30%">用户名</th>
                            <th width="55%">描  述</th>
                            <th>查看属性</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <hr/>
            <div style="display:none" id="add_user_div">
                <table  class="table table-bordered" id="add_user_table" cellspacing="0" width="100%" >
                    <tr class="active">
                        <th>属性名称</th>
                        <th>属性值</th>
                        <th>描  述</th>
                        <th>属  主</th>
                    </tr>
                    <tr>
                        <td>用户名</td>
                        <td><input type="text" id="adduser_ci_value" class="form-control"></td>
                        <td><input type="text" id="adduser_ci_description"class="form-control"></td>
                        <td><input type="text" id="adduser_ci_owner" class="form-control"></td>
                    </tr>
                    
                </table>
                <button  onclick="cancel_add_user()" class="btn btn-warning col-md-offset-10" > 取消 </button>
                <button  onclick="adduser()" class="btn btn-success" style="margin-left:2%" >保存</button>
            </div>

            <div style="margin-top:50px;" class="col-md-12" >
                <div class="col-md-1 col-md-offset-4">
                    <button href="#step1" data-toggle="tab" class="btn btn-info" style="margin-left:10%;bottom:0;" 
                        onclick="backtostep1()">上一步</button>
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <button href="#step4" data-toggle="tab" class="btn btn-info" style="margin-left:10%;bottom:0;" 
                        onclick="gotostep4()">下一步</button> 
                </div>
                
            </div>
        </div>    
          
        

        <!--//填写网络配置,step3,start-->
        <div class="tab-pane fade col-md-12 "
              style="margin-top:0%;position:relative;" id="step3">
            <div class="input-group  col-md-12 " style="margin-top:0%;position:relative;">
                <h3>步骤三: 网络配置</h3>
            </div>  
            <div style="margin-top:50px;" class="col-md-12" >
                <div class="col-md-1 col-md-offset-4">
                    <button href="#step2" data-toggle="tab" class="btn btn-info" style="margin-left:10%;bottom:0;" 
                onclick="backtostep2()">上一步</button>
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <button href="#step4" data-toggle="tab" class="btn btn-info" style="margin-left:10%;bottom:0;" 
                onclick="gotostep4()">下一步</button> 
                </div>
            </div>
        </div>

        <!--//填写基线配置,step4,start-->
        <div class="tab-pane fade col-md-12"  
            style="margin-top:0%;position:relative;" id="step4">
            <div class="col-md-12" style="margin-top:0%;height:45%;position:relative;">
                <h3>步骤四: 基线配置</h3>
            </div>
            <div class="col-md-12" style="margin-top:40px;">
                <table id="baselinelist" class="table table-bordered table-striped" cellspacing="0" width="100%" >
                    <thead >
                        <tr class="active">
                            <th width="5%"> </th>
                            <th width="30%">基线名称</th>
                            <th>基线描述</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div style="margin-top:50px;" class="col-md-12" >
                <div class="col-md-1 col-md-offset-4">
                    <button href="#step2" data-toggle="tab" class="btn btn-info" style="margin-left:10%;bottom:0;" 
                        onclick="backtostep2()">上一步</button>
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <button href="#step5" data-toggle="tab" class="btn btn-info" style="margin-left:10%;bottom:0;" 
                        onclick="gotostep5()">下一步</button> 
                </div>
                <input type="button" class="btn btn-info" onclick="get_val()" value="提交">
            </div>
        </div>
        
        <!--//填写基线配置,step4,end-->
        <div class="tab-pane fade col-md-offset-4 col-md-6" id="step5" style="margin-top:0%;height:80%;position:relative;">
            <div class="input-group  col-md-6 " style="margin-top:0%;height:80%;position:relative" id="AdvancedKernel">
                <h2 style ="float:left;">5.高级配置<small>内核参数</small></h2><input class="btn btn-default" type="button" style="float:right;margin-top:5%" value="新增配置" onclick="addkernel()">
                <div class="input-group col-md-12">
                    <font style="font-size:20px">内核参数</font>
                    <input type="text" style="width:100%">
                </div>
                <div class="input-group col-md-12">
                    <font style="font-size:20px">调度任务</font>
                    <input type="text" style="width:100%">
                </div>
                <div class="input-group col-md-12">
                    <font style="font-size:20px">自定义安装包</font>
                    <input type="text" style="width:100%">
                </div>
            </div>
            <div style="margin-top:50px;" class="col-md-12" >
                <div class="col-md-1 col-md-offset-4">
                    <button href="#step3" data-toggle="tab" class="btn btn-info" style="margin-left:10%;bottom:0;" 
                onclick="backtostep3()">上一步</button>
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <button href="#step5" data-toggle="tab" class="btn btn-info" style="margin-left:10%;bottom:0;" 
                onclick="gotostep5()">下一步</button> 
                </div>
                <input type="button" class="btn btn-info" onclick="get_val()" value="get">
            </div>
        </div>
    </div>

        <!--模态框 查看用户-->
        <div class="modal fade" id="user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div  class="modal-content">
                    <div class="modal-header" style="height:140px">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title" >用户</h4>
                            <div style="margin-top:2%" class="col-md-12">
                                <font class="col-md-5">用户名</font>
                                <input type="text" style="margin-left:15%" id="modal_user_name">
                            </div>
                            <div style="margin-top:2%" class="col-md-12">
                                <font class="col-md-5">描述</font>
                                <input type="text" style="margin-left:15%" id="modal_user_description">
                            </div>
                    </div><!--modal-header --> 
                    <div class="modal-body" >
                    	  <h4 class="modal-title" >属性</h4>
                        <div id="modal-userattr" style="margin-top:10px;"></div>
                    </div>
                                            
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" >确定</button>
                </div><!--modal-content -->
           </div><!--modal-dialog -->
        </div><!--modal-fade -->


</div>
    

