<!-- 必须输入项 -->
$var title: 主机 - 基线列表
$var header: 基线列表
$var jqueryfiles: host/baselinelist.js
$var cssfiles:


<!-- 可选输入项 -->


<!-- 页面conten内容 -->
<div class="row">
    <p class="text-left">自定义显示列: 
    <a class="toggle-vis" data-column="1">基线名称</a> - 
    <a class="toggle-vis" data-column="2">基线描述</a></p>
    <table id="allbaselinelist" class="table table-bordered" 
                        cellspacing="0" width="100%">
        <thead>
            <tr class="active">
                <th></th>
                <th width="21%">基线名称</th>
                <th>基线描述</th>
            </tr>
        </thead>
    </table>
</div>

