$def with (displayname_list, title)

$ cifid = ""

$var title: 主机基线 - $title 详细信息
$var header: $title 
$var jqueryfiles: host/baselineinfo.js
$var cssfiles:


<div class="row">
    <div id="submit_ciattr_changes" style="display:none">
        <input style="float:right" type="button" class="btn btn-success" value="保存" 
            onclick="submit_ciattr_changes()">
    </div>
$for key, list in displayname_list.items() :
    <blockquote>$key</blockquote>
    $for item in list :
        $ cifid += ";"+ item
        <div id="div$item"></div>
        <table id="$item" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr class="active">
                    <th></th>
                    <th width="20%">属性名称</th>
                    <th width="30%">属 性 值</th>
                    <th width="25%">属性描述</th>
                    <th width="25%">变更记录</th>
                </tr>
            </thead>
        </table>
        <hr>

<input type="hidden" id="cifid_list" value="$cifid"/>
</div>

<!--确认修改时，提示输入change log的模态框-->
<div class="modal fade" id="modal_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div  class="modal-content">
            <div class="modal-header" style="height:50px">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <font><h4>ChangeLog</h4></font>
            </div><!--modal-header --> 
            <div class="modal-body" style="height:25%" id="modal_content">
                <div class="form-group" id="div_changelog">
                <font>改动日志</font><font color="red" size="1px">  *点击确定后将直接把改动提交至数据库</font>
                <textarea id="modal_ta_changelog" class="form-control" rows="5" style= "resize:none; "></textarea>
                </div>                     
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" 
                    style="float:right">取消</button>
                <button type="button" class="btn btn-success" style="float:right;margin-right:10px" 
                    onclick="modal_sure()">确定</button>
            </div>
        </div><!--modal-content -->
   </div><!--modal-dialog -->
</div><!--modal-fade -->

