<!-- 必须输入项 -->
$var title: 主机列表
$var header: 主机列表
$var jqueryfiles: hostlist.js jquery.jeditable.js
$var cssfiles:

<!-- 页面conten内容 -->
<div class="row">
    <p class="text-left">自定义显示列: 
    <a class="toggle-vis" data-column="0">主机名</a> - 
    <a class="toggle-vis" data-column="1">内核版本</a> - 
    <a class="toggle-vis" data-column="2">描述</a></p>
    <table id="allhostlist" class="table table-bordered" 
                        cellspacing="0" width="100%">
        <thead>
            <tr class="active">
                <th width="21%">主机名</></th>
                <th width="21%">内核版本</th>
                <th>描  述</th>
            </tr>
        </thead>
    </table>
</div>

<!-- 模态框效果 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
        aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   修改属性
                </h4>
            </div>
            <div class="modal-body">
                确认修改？
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelModify" class="btn btn-default" 
                   data-dismiss="modal">关闭
                </button>
                <button type="button" id="submitModify" class="btn btn-primary">
                   提交更改
                </button>
            </div>
        </div>
    </div>
</div>

