$def with (baselist, ciDictWithoutTag, host)
$ strci = ""

$var title: 主机 - $host信息
$var header: 主机配置信息  $host
$var jqueryfiles: host/hostinfo.js
$var cssfiles: affix.css
$var osname: $host


<div class="row">
    <blockquote>应用基线列表</blockquote>
    <table class="table table-bordered" id="checkedBaseline" cellspacing="0" width="100%">
        <thead>
        <tr class="active">
            <th></th>
            <th width="21%">基线名称</th>
            <th>基线描述</th>
        </tr>
        </thead>
    </table>
    </hr>

$for citype, cilist in ciDictWithoutTag.items():
    <blockquote>$citype</blockquote>
    $for ci in cilist:
        $ strci += ';' + ci['FAMILY_ID']
        <div id="div$ci['FAMILY_ID']"></div>
        <table class="table table-bordered" id="$ci['FAMILY_ID']" cellspacing="0" width="100%">
            <thead>
            <tr class="active">
                <th></th>
                <th width="20%">属性名称</th>
                <th width="30%">属 性 值</th>
                <th width="25%">属性描述</th>
                <th width="25%">变更记录</th>
            </tr>
            </thead>
        </table>
    
<input type="hidden" id="hiden_baselinelist" value="$baselist"/>
<input type="hidden" id="hiden_cilist" value="$strci" />
</div>

