$def with (baselist, ciDictWithoutTag, host)
$ strci = ""

$var title: 主机 - $host信息
$var header: 主机配置信息  $host
$var jqueryfiles: host/hostinfo.js
$var cssfiles: affix.css
$var osname: $host


<div class="row">
    <div id="div_cichange" style="display:none">
        <input style="float:right" type="button" class="btn btn-success" value="保存" 
            onclick="submit_cichanges()">
    </div>
    
    <blockquote>已适用基线</blockquote>
    <table class="table table-bordered" id="checkedBaseline" cellspacing="0" width="100%">
        <thead>
        <tr class="active">
            <th></th>
            <th width="21%">基线名称</th>
            <th>基线描述</th>
        </tr>
        </thead>
    </table>
    <hr>

$for citype, cilist in ciDictWithoutTag.items():
    <blockquote>$citype</blockquote>
    $for ci in cilist:
        $ strci += ';' + ci['FAMILY_ID']
        <div id="div$ci['FAMILY_ID']"></div>
        <table class="table table-bordered" id="$ci['FAMILY_ID']" cellspacing="0" width="100%">
            <thead>
            <tr class="active">
                <th></th>
                <th width="20%">属性名称</th>
                <th width="30%">属 性 值</th>
                <th width="25%">属性描述</th>
                <th width="25%">变更记录</th>
            </tr>
            </thead>
        </table>
        <hr>
    
<input type="hidden" id="hiden_baselinelist" value="$baselist"/>
<input type="hidden" id="hiden_cilist" value="$strci" />
</div>

<!--添加时，提示输入的模态框-->
<div class="modal fade" id="modal_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div  class="modal-content">
            <div class="modal-header" style="height:50px">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <font><h4>确认操作</h4></font>
            </div><!--modal-header --> 
            <div class="modal-body" style="height:25%"id="modal_content" >
                <div class="form-group"  id="div_changelog">
                <font>改动日志</font><font color="red" size="1px">  *点击确定后将直接把改动提交至数据库</font>
                <textarea id="modal_ta_changelog" class="form-control" rows="5" style= "resize:none; "></textarea>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" 
                    style="float:right">取消</button>
                <button type="button" class="btn btn-success" style="float:right;margin-right:10px" 
                    onclick="modal_sure()">确定</button>
            </div>
        </div><!--modal-content -->
   </div><!--modal-dialog -->
</div><!--modal-fade -->

